@import url('header.css');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}
img{
  width: 100%;
}
figure{
  width: 20%;
}
.titulo{
  text-align: center;
}
.botonAgregar , .botonModificar{
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}
.botonBorrar{
  color: white;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}
.botonVolver{
  color: white;
  background-color: #00B7FF;
  padding: 10px;
  border-radius: 10px;
}
.formulario{
  margin: auto;
  width: 20%;
}
main{
  padding: 50px;
}
main .style-form label{
  margin-top: 7px;
}
main section{
  display: flex;
  flex-wrap: wrap;
}
main section a{
  margin: 10px 3px;
}
.style-form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.style-form button{
  border: none;
}
.link-button{
  text-decoration: none;
}
.buscador{
  margin: 15px auto;
}
.warning{
  color: #ff0000;
}
